.header {
  padding: 16px 0;
}

.nav-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.language-options{
  position: absolute;
  right: 75%; 
  top: 14px;
  display: flex;
  gap: 10px;
  /* opacity: 0; */
  transform: translateX(-50px); 
  transition: opacity 0.5s ease, transform 0.5s ease; 

}


.language-item {
  opacity: 0; 
  transform: translateX(-20px); 
  transition: opacity 0.3s ease, transform 0.3s ease; 
  font-size: 18px;
  background-color: transparent;
  border: 0cap;
}

.nav-list:hover .language-item:nth-child(1){
  opacity: 1;
  transform: translateX(0); 
  transition-delay: 0.1s; 
}


.nav-list:hover .language-item:nth-child(2) {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.1s; /* Затримка для другого елемента */
}


.nav-list img {
  width: 50px; /* Задаем ширину изображений */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-list img:hover {
  transform: scale(1.1); /* Увеличение изображения на 10% при наведении */
  opacity: 0.8; /* Пример изменения прозрачности при наведении */
}


@media screen and (min-width: 767px) {
  .header {
    width: 767px;
  }
}

@media screen and (min-width: 1023px) {
  .header {
    width: 1023px;
  }
}
