.header {
  padding: 16px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  transform: translateY(-50%) rotate(-90deg) scale(1.3);
}
@media screen and (min-width: 767px){
  .header{
    width: 767px;
  }
  
}

@media screen and (min-width: 1023px){
  .header{
    width: 1023px;
  }
  
}