/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: "Roboto Slab", system-ui;
  font-optical-sizing: auto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: #bebebe;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

body {
  display: flex;
   justify-content: center;
  /* align-items: center;  */
  height: 100vh;
  overflow-y: hidden;
  
}

.container {
  
  width: 375px;
  height: 553px;
  padding: 0 20px;
  box-sizing: content-box;
  align-items: center;
  
}


.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.text {
  position: relative;
  width: 333px;
  height: 111px;
  color: #373737;
  font-size: 34px;
  font-weight: 700;
  line-height: 37.4px;
  text-align: center;
  z-index: 2;
  top:130px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.circle {
  position: relative;
  animation: none;
  transition: transform 0.5s ease;
  cursor: pointer;
  width: 90px;
  height: 90px;
  top: 100px;
  left: 170px; 
  z-index: 3;
}

.circle:hover {
  animation: rotate 4s linear infinite; /* Запуск анимации при наведении */
}

.elipse {
 position: absolute;
 top: 80px;
 left: 40px;
 width: 294px;
 height: 294px;
 
}
/* 
.marquee-container {
 
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 150vw; 
  height: 100%; 
  z-index: 5;
  
  height: 70px;
  top: 836.08px;
  left: -174.14px;

  border: 1px 0px 0px 0px;
  border: 1px solid #373737;
  transform: rotate(-57deg); 
}

.marquee-row {
  font-size: 24px;
  padding: 10px 0;
  position: absolute;
  white-space: nowrap;
}

.marquee-left {
  animation: marquee-left 10s linear infinite;
}

.marquee-right {
  animation: marquee-right 10s linear infinite;
  top: 30px; /* Смещение для второй строки */
/* } */

/* @keyframes marquee-left {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes marquee-right {
  0% {
    right: 100%;
  }
  100% {
    right: -100%;
  }
} */ */


.nav-link {
  display: none;
}


@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    position: relative;
    
  }

  .nav-link {
    justify-content: center;
    display: flex;
    position: relative;
  }

  .burger {
    visibility: hidden;
  }

  .circle {
    width: 112px;
    height: 112px;
    top: 170px;
    left: 430px
   
  }

  .text{
    display: flex;
    top: 225px;
    left:250px;
    width: 568px;
    height: 192px;
    size: 58px;
    flex-wrap: wrap;
  }

  .elipse {
    width: 482px;
    height: 482px;
    left: 141px;
    
  }

  .rotated-link1 {
   
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: left bottom;
    width: 83px;
    height: 20px;
    top: 254px;
    left: 10px;
    z-index: 10;

    display: inline-block;
    color: #373737;

    text-decoration: none;
    transition: color 0.3s ease;
  }

  .rotated-link1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
  }

  .rotated-link1:hover {
    color: white;
  }

  .rotated-link1:hover::after {
    width: 100%;
  }

  .rotated-link2 {
    position: absolute;

    display: inline-block;
    color: #373737;

    transition: color 0.3s ease;
    z-index: 10;
    width: 60px;
    height: 20px;
    /* top: 392px; */
    left: 254px;
  }

  .rotated-link2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
  }

  .rotated-link2:hover {
    color: white;
  }

  .rotated-link2:hover::after {
    width: 100%;
  }

  .rotated-link3 {
    position: absolute;
    left: 20px;
    transform: translateY(-50%) rotate(90deg);
    transform-origin: right bottom;

    display: inline-block;
    color: #373737;
    text-decoration: none;
    transition: color 0.3s ease;
    z-index: 10;
    width: 69px;
    height: 20px;
    /* top: 478px;
    left: 758px; */
  }

  .rotated-link3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
  }

  .rotated-link3:hover {
    color: white;
  }

  .rotated-link3:hover::after {
    width: 100%;
  }

  /* .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
  } */
}

@media screen and (max-width: 768px) {
  .nav-link{
    display: none;
  }
}

@media screen and (min-width: 1024) {
  .container{
    width: 1024px;
    
  }


  .elipse{
    
    left: 550px;
  }

  .text{
    width: 724px;
    height: 128px;
    margin: auto;
  }

  .main-container{
    position: relative;
  }
}
